<div class="analysis">
  <h1>This is your analysis!!!!</h1>
  {{#each solutions}}
    {{this}} <br>
  {{/each}}
</div>

<img src="./{{img1}}" alt="image uploaded from section A">
<img src="./{{img2}}" alt="image uploaded from section B">
