<h1>Hellloooooooooooooo</h1>
<div class="">

  <form class="" action="/cool-profile" enctype="multipart/form-data" method="post" style="margin:140px">
  avatar
    <input type="file" id="avatar" name="avatar" value="" multiple>
    gallery
    <input type="file" id="gallery" name="gallery" value="" multiple>
    Text
    <input type="text" id="Text" name="Text" value="">
    <input type="submit" name="Submit" value="Submit">
  </form>
</div>
