<title>
  Form</title>
{{>sideNav}}
<div class="allForm" id="allForm">

  <form action="/analysis" method="post" id="form" enctype="multipart/form-data">
    <div id="Fade" class="w3-container city w3-animate-opacity">
      <div class="locationDiv">
        <label class="location" for="place">Location Name:</label>
        <input class="locationInput" type="text" id="place" name="location" value="" placeholder="location">
      </div>
      <h1>SECTION A : APROACH AND ENTRANCE </h1>
      <h3>A.1 Is the entrance of the building located at less than 50mt from the street?</h3>
      <input type="radio" name="A1" value="Yes">
      <input type="radio" name="A1" value="No" id='A1'> No
      <input type="radio" name="A1" value="dk"> Don't Know
      <h3>A.2 Is the entrance of the building located at less than 50mt from the parking lot?</h3>
      <input type="radio" name="A2" value="Yes"> Yes
      <input type="radio" name="A2" value="No" id='A2'> No
      <input type="radio" name="A2" value="dk"> Don't Know
      <h2>A.3 Parking</h2>
      <h3>A.3.1 Are there enough parking bays reserved for people with disabilities? </h3>
      <input type="radio" name="A3.1" value="Yes"> Yes
      <input type="radio" name="A3.1" value="No" id='A3.1'> No
      <input type="radio" name="A3.1" value="dk"> Don't Know
      <h3>A.3.2 Are the reserved parking bay located at less than 50mt to the building entrance?</h3>
      <input type="radio" name="A3.2" value="Yes"> Yes
      <input type="radio" name="A3.2" value="No" id="A3.2"> No
      <input type="radio" name="A3.2" value="dk"> Don't Know
      <h3>A.3.3 Are the reserved parking bay min 3.9m x5.40m?</h3>
      <input type="radio" name="A3.3" value="Yes"> Yes
      <input type="radio" name="A3.3" value="No" id="A3.3"> No
      <input type="radio" name="A3.3" value="dk"> Don't Know
      <h3>A.3.4 Is the surface of the parking stable, flat and negotiable (no gravel, no sand, no obstacles)? </h3>
      <input type="radio" name="A3.4" value="Yes"> Yes
      <input type="radio" name="A3.4" value="No" id="A3.4"> No
      <input type="radio" name="A3.4" value="dk"> Don't Know
      <h3>A.3.5 Is there signage (international standards) marking the accessible parking lot so that it can be seen even when
        the car park is full? </h3>
      <input type="radio" name="A3.5" value="Yes"> Yes
      <input type="radio" name="A3.5" value="No" id="A3.5"> No
      <input type="radio" name="A3.5" value="dk"> Don't Know
      <h3>A.3.6 Is there any vehicle drop off area (min 9.00mts x 3.60mts) near the main entrance of the building?</h3>
      <input type="radio" name="A3.6" value="Yes"> Yes
      <input type="radio" name="A3.6" value="No" id="A3.6"> No
      <input type="radio" name="A3.6" value="dk"> Don't Know
      <h3>A.3.7 Are there curb ramps close to the accessible parking bay and/or drop off area to allow wheelchair users to go
        from the street level to the sidewalk level?</h3>
      <input type="radio" name="A3.7" value="Yes"> Yes
      <input type="radio" name="A3.7" value="No" id="A3.7"> No
      <input type="radio" name="A3.7" value="dk"> Don't Know
      <h2>A.4 Route</h2>
      <h3>A.4.1 Is the surface of the route from the parking/drop off area to the building entrance stable, flat and negotiable
        (no gravel, no sand, no obstacles)?</h3>
      <input type="radio" name="A4.1" value="Yes"> Yes
      <input type="radio" name="A4.1" value="No" id="A4.1"> No
      <input type="radio" name="A4.1" value="dk"> Don't Know
      <h3>A.4.2 Are there street lights close to the building entrance, on the sidewalk and on the parking lot?</h3>
      <input type="radio" name="A4.2" value="Yes"> Yes
      <input type="radio" name="A4.2" value="No" id="A4.2"> No
      <input type="radio" name="A4.2" value="dk"> Don't Know
      <h3>A.4.3 Is there tactile pavement on the route from the street/parking to the building entrance?</h3>
      <input type="radio" name="A4.3" value="Yes"> Yes
      <input type="radio" name="A4.3" value="No" id="A4.3"> No
      <input type="radio" name="A4.3" value="dk"> Don't Know
      <h3>A.4.4 Is there any obstacle in the route? If so, are they clearly visible and detectable with a cane?</h3>
      <input type="radio" name="A4.4" value="Yes"> Yes
      <input type="radio" name="A4.4" value="No" id="A4.4"> No
      <input type="radio" name="A4.4" value="dk"> Don't Know
      <h3>A.4.5 The headroom along the route is maintained at a height of not less than 2 100 mm above the surface of the path?</h3>
      <input type="radio" name="A4.5" value="Yes"> Yes
      <input type="radio" name="A4.5" value="No" id="A4.5"> No
      <input type="radio" name="A4.5" value="dk"> Don't Know
      <h3>A.4.6 Where the route has differences in height, are the ramps and stairs in place?</h3>
      <input type="radio" name="A4.6" value="Yes"> Yes
      <input type="radio" name="A4.6" value="No" id="A4.6"> No
      <input type="radio" name="A4.6" value="dk"> Don't Know
      <h2>A.4.6 External Ramps </h2>
      <h3>A.4.6.1 Is the surface width of the ramp/path minimum 120cm, ideally 150cm or 180cm? Is the unobstructed width of the
        ramp from handrail to handrail minimum 100cm? </h3>
      <input type="radio" name="A4.6.1" value="Yes"> Yes
      <input type="radio" name="A4.6.1" value="No" id="A4.6.1"> No
      <input type="radio" name="A4.6.1" value="dk"> Don't Know
      <h3>A.4.6.2 Is the length of end and intermediate landing at least 150cm?</h3>
      <input type="radio" name="A4.6.2" value="Yes"> Yes
      <input type="radio" name="A4.6.2" value="No" id="A4.6.2"> No
      <input type="radio" name="A4.6.2" value="dk"> Don't Know
      <h3>A.4.6.3 Does the ramp have an acceptable gradient?</h3>
      <input type="radio" name="A4.6.3" value="Yes"> Yes
      <input type="radio" name="A4.6.3" value="No" id="A4.6.3"> No
      <input type="radio" name="A4.6.3" value="dk"> Don't Know
      <h3>A.4.6.4 Does the ramp have guarding kerbs?</h3>
      <input type="radio" name="A4.6.4" value="Yes"> Yes
      <input type="radio" name="A4.6.4" value="No" id="A4.6.4"> No
      <input type="radio" name="A4.6.4" value="dk"> Don't Know
      <h3>A.4.6.5 Does the ramp have an anti-slip surface?</h3>
      <input type="radio" name="A4.6.5" value="Yes"> Yes
      <input type="radio" name="A4.6.5" value="No" id="A4.6.5"> No
      <input type="radio" name="A4.6.5" value="dk"> Don't Know
      <h2>A.4.7 External Stairs</h2>
      <h3>A.4.7.1 The rise of the step is higher than 150 mm, and the going of the steps are not less than 300 mm? </h3>
      <input type="radio" name="A4.7.1" value="Yes"> Yes
      <input type="radio" name="A4.7.1" value="No" id="A4.7.1"> No
      <input type="radio" name="A4.7.1" value="dk"> Don't Know
      <h3>A.4.7.2 Is the minimum width of the stairs 120cm? Is the minimum width between handrails 100cm?</h3>
      <input type="radio" name="A4.7.2" value="Yes"> Yes
      <input type="radio" name="A4.7.2" value="No" id="A4.7.2"> No
      <input type="radio" name="A4.7.2" value="dk"> Don't Know
      <h3>A.4.7.3 Is the rise of the step closed?</h3>
      <input type="radio" name="A4.7.3" value="Yes"> Yes
      <input type="radio" name="A4.7.3" value="No" id="A4.7.3"> No
      <input type="radio" name="A4.7.3" value="dk"> Don't Know
      <h3>A.4.7.4 The flight of steps contain maximum 16 risers? </h3>
      <input type="radio" name="A4.7.4" value="Yes"> Yes
      <input type="radio" name="A4.7.4" value="No" id="A4.7.4"> No
      <input type="radio" name="A4.7.4" value="dk"> Don't Know
      <h3>A.4.7.5 Is the minimum width of the landing 150cm?</h3>
      <input type="radio" name="A4.7.5" value="Yes"> Yes
      <input type="radio" name="A4.7.5" value="No" id="A4.7.5"> No
      <input type="radio" name="A4.7.5" value="dk"> Don't Know
      <h3>A.4.7.6 Is the clear height under stairs minimum 210cm? </h3>
      <input type="radio" name="A4.7.6" value="Yes"> Yes
      <input type="radio" name="A4.7.6" value="No" id="A4.7.6"> No
      <input type="radio" name="A4.7.6" value="dk"> Don't Know
      <h2>A.4.8 Handrails</h2>
      <h3>A.4.8.1 Are handrails located on both sides of the ramp and stairs?</h3>
      <input type="radio" name="A4.8.1" value="Yes"> Yes
      <input type="radio" name="A4.8.1" value="No" id="A4.8.1"> No
      <input type="radio" name="A4.8.1" value="dk"> Don't Know
      <h3>A.4.8.2 Is the handrails profile diameter max 4.5cm and minimum 3.5 cm? </h3>
      <input type="radio" name="A4.8.2" value="Yes"> Yes
      <input type="radio" name="A4.8.2" value="No" id="A4.8.2"> No
      <input type="radio" name="A4.8.2" value="dk"> Don't Know
      <h3>A.4.8.3 Are the handrails located at least 4cm from the adjacent wall or other obstructions?</h3>
      <input type="radio" name="A4.8.3" value="Yes"> Yes
      <input type="radio" name="A4.8.3" value="No" id="A4.8.3"> No
      <input type="radio" name="A4.8.3" value="dk"> Don't Know
      <h3>A.4.8.4 Are the first set of handrails located between 85cm and 100cm? Are the second set of handrails located between
        60 and 75cm?</h3>
      <input type="radio" name="A4.8.4" value="Yes"> Yes
      <input type="radio" name="A4.8.4" value="No" id="A4.8.4"> No
      <input type="radio" name="A4.8.4" value="dk"> Don't Know
      <h3>A.4.8.5 Are handrails horizontally extended for at least 30cm at the begging and end of the ramp/stairs?</h3>
      <input type="radio" name="A4.8.5" value="Yes"> Yes
      <input type="radio" name="A4.8.5" value="No" id="A4.8.5"> No
      <input type="radio" name="A4.8.5" value="dk"> Don't Know
      <br>
      <h2>
        <label> Add Comments :</label>
      </h2>
      <textarea id="sectionATextarea" name="sectionATextarea" class="textarea" placeholder="Your Comment ..." rows="8" cols="80"></textarea>
      <h2>
        <label for="upload-photo">Adding images :</label>
      </h2>

      <label for="img1A" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img1Ainput" placeholder="img path"> Upload your image
      </label>
      <input id="img1A" type="file" value="img1A" name="img1A" onchange="javascript: document.getElementById ('img1Ainput').value = this.value"
      />

      <label for="img2A" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img2Ainput" placeholder="img path"> Upload your image
      </label>
      <input id="img2A" type="file" value="img2A" name="img2A" onchange="javascript: document.getElementById ('img2Ainput').value = this.value"
      />


      <button id="nextToB" class="nextToB tablink" onclick="openLink(event, 'Left')">
        <span>Next &raquo; </span>
      </button>
      <button id="prev" class="prev"></button>




    </div>
    <!-- Second section -->
    <div id="Left" class="w3-container city w3-animate-left" style="display:none">
      <h1>SECTION B : ENTRANCE</h1>
      <h3>B1 Is the entrance to the building marked and visible?</h3>
      <input type="radio" value="Yes" name="B1"> Yes
      <input type="radio" id="B.1" value="No" name="B1"> No
      <input type="radio" value="DK" name="B1"> N/A

      <h3>B2 A.5.2 Is the main entrance accessible? If not, is there an alternative accessible entrance that can be used independently
        and in the same hours of the main entrance?</h3>
      <input type="radio" value="Yes" name="B.2"> Yes
      <input type="radio" value="No" id="B.2" name="B.2"> No
      <input type="radio" value="DK" name="B.2"> N/A


      <h3>B3 Is the main entrance leveled? If any threshold is in place, the height doesn’t exceed 20mm?</h3>
      <input type="radio" value="Yes" name="B.3"> Yes
      <input type="radio" value="No" id="B.3" name="B.3"> No
      <input type="radio" value="DK" name="B.3"> N/A


      <h3>B4 Is the unobstructed width of the entrance doorway at least 90cm? Is the unobstructed height of the entrance doorway
        at least 200cm?</h3>
      <input type="radio" value="Yes" name="B.4"> Yes
      <input type="radio" value="No" id="B.4" name="B.4"> No
      <input type="radio" value="DK" name="B.4"> N/A


      <h3>B5 Is the horizontal maneuvering space in front of the entrance door of minimum 150cm by 1 50cm? Is there a clear space
        of 60cm (70cm recommended) at the latch side of the door to allow someone to operate the door handle while using
        a wheel chair?</h3>
      <input type="radio" value="Yes" name="B.5"> Yes
      <input type="radio" value="No" id="B.5" name="B.5"> No
      <input type="radio" value="DK" name="B.5"> N/A


      <h3>B6 Is the door equipped with a handle that is operable with one hand and does not required tight grasping, pinching,
        or twisting of the wrist? </h3>
      <input type="radio" value="Yes" name="B.6"> Yes
      <input type="radio" value="No" id="B.6" name="B.6"> No
      <input type="radio" value="DK" name="B.6"> N/A


      <h3>B7 The carpets or mats at the entrance of the building are less than 12mm? Are the edge of the carpets or mats securely
        attached? </h3>
      <input type="radio" value="Yes" name="B.7"> Yes
      <input type="radio" value="No" id="B.7" name="B.7"> No
      <input type="radio" value="DK" name="B.7"> N/A
      <br>
      <h2>
        <label> Add Comments :</label>
      </h2>
      <textarea id="sectionBTextarea" name="sectionBTextarea" class="textarea" placeholder="Your Comment ..." rows="8" cols="80"></textarea>
      <h2>
        <label for="upload-photo">Adding images :</label>
      </h2>

      <label for="img1B" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img1Binput" placeholder="img path"> Upload your image
      </label>
      <input id="img1B" type="file" value="img1B" name="img1B" onchange="javascript: document.getElementById ('img1Binput').value = this.value"
      />

      <label for="img2B" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img2Binput" placeholder="img path"> Upload your image
      </label>
      <input id="img2B" type="file" value="img2B" name="img2B" onchange="javascript: document.getElementById ('img2Binput').value = this.value"
      />

      <button id="nextToD" class="nextToD" onclick="openLink(event,'Top')">
        <span>Next &raquo;</span>
      </button>
      <button id="previousToA" class="previousToA" onclick="openLink(event,'Fade')">
        <span> &laquo; Previous </span>
      </button>



    </div>



    <!-- Third Section -->
    <div id="Top" class="w3-container city w3-animate-top" style="display:none">
      <h1>SECTION D : TOILET ROOM</h1>
      <h3>D.1 Is there at least one accessible toilet room?</h3>
      <input type="radio" name="D.1" value="Yes"> Yes
      <input type="radio" name="D.1" value="No" id="D.1"> No
      <input type="radio" name="D.1" value="dk"> Don't Know

      <h3>D.2 Is there a sign that give directions to accessible toilet rooms?</h3>
      <input type="radio" name="D.2" value="Yes"> Yes
      <input type="radio" name="D.2" value="No" id="D.2"> No
      <input type="radio" name="D.2" value="dk"> Don't Know

      <h3>D.3 Is there a sign at the entrance of the accessible toilet room with the International symbol of accessibility?</h3>
      <input type="radio" name="D.3" value="Yes"> Yes
      <input type="radio" name="D.3" value="No" id="D.3"> No
      <input type="radio" name="D.3" value="dk"> Don't Know

      <h3>D.4 Is there an outward opening door with minimum width 90cm? Is there an horizontal pull handle at 70cm height?</h3>
      <input type="radio" name="D.4" value="Yes"> Yes
      <input type="radio" name="D.4" value="No" id="D.4"> No
      <input type="radio" name="D.4" value="dk"> Don't Know

      <h3>D.5 Is there a clear maneuvering space of 150cm x 150cm inside the toilet?</h3>
      <input type="radio" name="D.5" value="Yes"> Yes
      <input type="radio" name="D.5" value="No" id="D.5"> No
      <input type="radio" name="D.5" value="dk"> Don't Know

      <h3>D.6 Is there a clear space of min 90cm beside the toilet (120cm for later transfer and assistance)?</h3>
      <input type="radio" name="D.6" value="Yes"> Yes
      <input type="radio" name="D.6" value="No" id="D.6"> No
      <input type="radio" name="D.6" value="dk"> Don't Know

      <h3>D.7 Is the toilet seat located between 40 and 48cm from the floor?</h3>
      <input type="radio" name="D.7" value="Yes"> Yes
      <input type="radio" name="D.7" value="No" id="D.7"> No
      <input type="radio" name="D.7" value="dk"> Don't Know

      <h3>D.8 Is the distance from the edge of the toilet seat to the rear wall between 650 mm and 800 mm ?</h3>
      <input type="radio" name="D.8" value="Yes"> Yes
      <input type="radio" name="D.8" value="No" id="D.8"> No
      <input type="radio" name="D.8" value="dk"> Don't Know

      <h3>D.9 Is a corner toilet is in place: Is the distance from the pan to the adjacent wall min. 25cm? Is the distance from
        the center line of toilet to the adjacent wall min. 45cm?</h3>
      <input type="radio" name="D.9" value="Yes"> Yes
      <input type="radio" name="D.9" value="No" id="D.9"> No
      <input type="radio" name="D.9" value="dk"> Don't Know



      <h3>D.10 Are grab rails provided on both side of the toilet at a distance of 30-35cm from the center of the toilet and
        a minimum distance of 40cm from the wall?</h3>
      <input type="radio" name="D.10" value="Yes"> Yes
      <input type="radio" name="D.10" value="No" id="D.10"> No
      <input type="radio" name="D.10" value="dk"> Don't Know


      <h3>D.11 Is there a foldable rail at a height of 20-30cm above the seat level on the side where a lateral transfer is possible?
        Is the length of the foldable rail overlapping the front edge of the toilet seat in between 10-25cm?</h3>
      <input type="radio" name="D.11" value="Yes"> Yes
      <input type="radio" name="D.11" value="No" id="D.11"> No
      <input type="radio" name="D.11" value="dk"> Don't Know


      <h3>D12 Is the washbasin located between 75cm and 85cm from the floor? </h3>
      <input type="radio" name="D.12" value="Yes"> Yes
      <input type="radio" name="D.12" value="No" id="D.12"> No
      <input type="radio" name="D.12" value="dk"> Don't Know



      <h3>D.13 Is there a clear space under the washbasin between 65cm and 70cm height and 20cm deep?</h3>
      <input type="radio" name="D.13" value="Yes"> Yes
      <input type="radio" name="D.13" value="No" id="D.13"> No
      <input type="radio" name="D.13" value="dk"> Don't Know


      <h3>D.14 Is the edge of the washbasin located within a distance of 35 to 60cm from the wall?</h3>
      <input type="radio" name="D.14" value="Yes"> Yes
      <input type="radio" name="D.14" value="No" id="D.14"> No
      <input type="radio" name="D.14" value="dk"> Don't Know

      <h3>D.15 Is the tap type mixer, lever or sensor? Is the tap located at maximum 30cm from the edge of the washbasin?</h3>
      <input type="radio" name="D.15" value="Yes"> Yes
      <input type="radio" name="D.15" value="No" id="D.15"> No
      <input type="radio" name="D.15" value="dk"> Don't Know
      <br>
      <h2>
        <label> Add Comments :</label>
      </h2>
      <textarea id="sectionDTextarea" name="sectionDTextarea" class="textarea" placeholder="Your Comment ..." rows="8" cols="80"></textarea>
      <h2>
        <label for="upload-photo">Adding images :</label>
      </h2>
      <label for="img1D" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img1Dinput" placeholder="img path"> Upload your image
      </label>
      <input id="img1D" type="file" value="img1D" name="img1D" onchange="javascript: document.getElementById ('img1Dinput').value = this.value"
      />

      <label for="img2D" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img2Dinput" placeholder="img path"> Upload your image
      </label>
      <input id="img2D" type="file" value="img2D" name="img2D" onchange="javascript: document.getElementById ('img2Dinput').value = this.value"
      />
      <button id="previousToB" class="previousToB" onclick="openLink(event,'Left')">
        <span> &laquo; Previous </span>
      </button>

      <button id="nextToC" class="nextToC" onclick="openLink(event,'Right')">
        <span>Next &raquo;</span>
      </button>
    </div>

    <!-- Fourth section -->
    <div id="Right" class="w3-container city w3-animate-right" style="display:none">
      <h1>SECTION C : ACCESS TO SERVICES</h1>

      <h3>C1 The accessible entrance provide direct access to the main floor and reception? </h3>
      <input type="radio" value="Yes" name="C.1"> Yes
      <input type="radio" value="No" id="C.1" name="C.1"> No
      <input type="radio" value="DK" name="C.1"> N/A

      <h3>C2 Are all public spaces on at least one accessible route? </h3>
      <input type="radio" value="Yes" name="C.2"> Yes
      <input type="radio" value="No" id="C.2" name="C.2"> No
      <input type="radio" value="DK" name="C.2"> N/A

      <h3>C3 Is the surface of the routes stable, flat and negotiable (no gravel, no sand, no obstacles)?</h3>
      <input type="radio" value="Yes" name="C.3"> Yes
      <input type="radio" value="No" id="C.3" name="C.3"> No
      <input type="radio" value="DK" name="C.3"> N/A

      <h3>C4 Is the unobstructed width of the routes minimum 120cm, ideally 180cm?</h3>
      <input type="radio" value="Yes" name="C.4"> Yes
      <input type="radio" value="No" id="C.4" name="C.4"> No
      <input type="radio" value="DK" name="C.4"> N/A

      <h3>C5 If 90 degrees wheelchair turns are required, a minimum maneuver space of 120cmx120cm, ideally 150cm x 150cm is provided?</h3>
      <input type="radio" value="Yes" name="C.5"> Yes
      <input type="radio" value="No" id="C.5" name="C.5"> No
      <input type="radio" value="DK" name="C.5"> N/A

      <h3>C6 If If 180 degrees wheelchair turns are required, a minimum maneuver space of 200cm x 150cm is provided? </h3>
      <input type="radio" value="Yes" name="C.6"> Yes
      <input type="radio" value="No" id="C.6" name="C.6"> No
      <input type="radio" value="DK" name="C.6"> N/A

      <h2>C.7 Vertical circulation </h2>
      <h2>C.7.1 Internal Stairs</h2>

      <h3>C7.1.1 he rise of the step is higher than 150 mm, and the going of the steps are not less than 300 mm? *Exceptionally
        on adaptations of existing buildings the minimum going of the tread shall be 260 mm, and the maximum rise shall be
        180 mm.</h3>
      <input type="radio" value="Yes" name="C.7.1.1"> Yes
      <input type="radio" value="No" id="C.7.1.1" name="C.7.1.1"> No
      <input type="radio" value="DK" name="C.7.1.1"> N/A

      <h3>C7.1.2 Is the minimum width of the stairs 120cm? Is the minimum width between handrails 100cm?</h3>
      <input type="radio" value="Yes" name="C.7.1.2"> Yes
      <input type="radio" value="No" id="C.7.1.2" name="C.7.1.2"> No
      <input type="radio" value="DK" name="C.7.1.2"> N/A

      <h3>C7.1.3 Is the rise of the step closed?</h3>
      <input type="radio" value="Yes" name="C.7.1.3"> Yes
      <input type="radio" value="No" id="C.7.1.3" name="C.7.1.3"> No
      <input type="radio" value="DK" name="C.7.1.3"> N/A

      <h3>C7.1.4 The flight of steps contain maximum 16 risers? *Exceptionally when the plan area is restricted, a flight of
        a stairs shall contain no more than 20 risers.</h3>
      <input type="radio" value="Yes" name="C.7.1.4"> Yes
      <input type="radio" value="No" id="C.7.1.4" name="C.7.1.4"> No
      <input type="radio" value="DK" name="C.7.1.4"> N/A

      <h3>C7.1.5 Is the minimum width of the landing 150cm?</h3>
      <input type="radio" value="Yes" name="C.7.1.5"> Yes
      <input type="radio" value="No" id="C.7.1.5" name="C.7.1.5"> No
      <input type="radio" value="DK" name="C.7.1.5"> N/A

      <h3>C7.1.6 Is the clear height under stairs minimum 210cm? </h3>
      <input type="radio" value="Yes" name="C.7.1.6"> Yes
      <input type="radio" value="No" id="C.7.1.6" name="C.7.1.6"> No
      <input type="radio" value="DK" name="C.7.1.6"> N/A

      <h2>C.7.2 Handrails</h2>
      <h3>C7.2.1 Are handrails located on both sides of the ramp and stairs?</h3>
      <input type="radio" value="Yes" name="C.7.2.1"> Yes
      <input type="radio" value="No" id="C.7.2.1" name="C.7.2.1"> No
      <input type="radio" value="DK" name="C.7.2.1"> N/A

      <h3>C7.2.2 Is the handrails profile diameter max 4.5cm and minimum 3.5 cm? </h3>
      <input type="radio" value="Yes" name="C.7.2.2"> Yes
      <input type="radio" value="No" id="C.7.2.2" name="C.7.2.2"> No
      <input type="radio" value="DK" name="C.7.2.2"> N/A

      <h3>C7.2.3 Are the handrails located at least 4cm from the adjacent wall or other obstructions? </h3>
      <input type="radio" value="Yes" name="C.7.2.3"> Yes
      <input type="radio" value="No" id="C.7.2.3" name="C.7.2.3"> No
      <input type="radio" value="DK" name="C.7.2.3"> N/A

      <h3>C7.2.4 Are the first set of handrails located between 85cm and 100cm? Are the second set of handrails located between
        60 and 75cm?</h3>
      <input type="radio" value="Yes" name="C.7.2.4"> Yes
      <input type="radio" value="No" id="C.7.2.4" name="C.7.2.4"> No
      <input type="radio" value="DK" name="C.7.2.4"> N/A

      <h3>C7.2.5 Are handrails horizontally extended for at least 30cm at the begging and end of the ramp/stairs?</h3>
      <input type="radio" value="Yes" name="C.7.2.5"> Yes
      <input type="radio" value="No" id="C.7.2.5" name="C.7.2.5"> No
      <input type="radio" value="DK" name="C.7.2.5"> N/A
      <br>
      <h2>
        <label> Add Comments :</label>
      </h2>
      <textarea id="sectionCTextarea" name="sectionCTextarea" class="textarea" placeholder="Your Comment ..." rows="8" cols="80"></textarea>
      <h2>
        <label for="upload-photo">Adding images :</label>
      </h2>

      <label for="img1C" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img1Cinput" placeholder="img path"> Upload your image
      </label>
      <input id="img1C" type="file" value="img1C" name="img1C" onchange="javascript: document.getElementById ('img1Cinput').value = this.value"
      />

      <label for="img2C" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img2Cinput" placeholder="img path"> Upload your image
      </label>
      <input id="img2C" type="file" value="img2C" name="img2C" onchange="javascript: document.getElementById ('img2Cinput').value = this.value"
      />


      <button id="previousToD" class="previousToD" onclick="openLink(event,'Top')">
        <span> &laquo; Previous </span>
      </button>
      <button id="nextToE" class="nextToE" onclick="openLink(event,'Bottom')">
        <span>Next &raquo;</span>
      </button>


    </div>

    <!-- Fifth section -->
    <div id="Bottom" class="w3-container city w3-animate-bottom" style="display:none">
      <h1>SECTION E : EMERGENCY, EVACUATION, ALARMS</h1>

      <h3>E.1 Is there a fire alarm system, do they have both flashing lights and audible signals? </h3>
      <input type="radio" name="E.1" value="Yes"> Yes
      <input type="radio" name="E.1" value="No" id="E.1"> No
      <input type="radio" name="E.1" value="dk"> Don't Know

      <h3>E.2 Are emergency doors and evacuation routes signalized?</h3>
      <input type="radio" name="E.2" value="Yes"> Yes
      <input type="radio" name="E.2" value="No" id="E.2"> No
      <input type="radio" name="E.2" value="dk"> Don't Know

      <h3>E.3 Is there an established evacuation plan in case of emergency?</h3>
      <input type="radio" name="E.3" value="Yes"> Yes
      <input type="radio" name="E.3" value="No" id="E.3"> No
      <input type="radio" name="E.3" value="dk"> Don't Know
      <br>
      <h2>
        <label> Add Comments :</label>
      </h2>
      <textarea id="sectioETextarea" name="sectionETextarea" class="textarea" placeholder="Your Comment ..." rows="8" cols="80"></textarea>
      <h2>
        <label for="upload-photo">Adding images :</label>
      </h2>

      <label for="img1E" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img1Einput" placeholder="img path"> Upload your image
      </label>
      <input id="img1E" type="file" value="img1E" name="img1E" onchange="javascript: document.getElementById ('img1Einput').value = this.value"
      />

      <label for="img2E" class="custom-file-upload">
        <input type="text" readonly="readonly" id="img2Einput" placeholder="img path"> Upload your image
      </label>
      <input id="img2E" type="file" value="img2E" name="img2E" onchange="javascript: document.getElementById ('img2Einput').value = this.value"
      />

      <button id="previousToC" class="previousToC" onclick="openLink(event,'Right')">
        <span> &laquo; Previous </span>
      </button>
      <button class="submit" id="submit" type="submit" name="submit">
        Submit &nbsp;
        <i class="fas fa-check">
        </i>
      </button>
    </div>

  </form>

</div>

<script type="text/javascript" src="/js/domForForm.js"></script>
<script type="text/javascript" src="/js/addIcon.js"></script>