<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img src="./images/homeImage1.png" class="slider_images">
    <div class="text">Help PWDs to improve their<br> accessibility and home <br> adaptation!
    </div>
    <input type="button" name="form_button" value="Satrt Now" class="form_button">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="./images/homeImage2.png" class="slider_images">
    <div class="text">We work alongside people with PWD and vulnerable populations, taking action in order to respond to their essential needs.</div>
  </div>
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
</div>
<br>
