<div class="topnav" id="myTopnav">
    <div class="mobilelogo">
        <img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-bug.png?1514958036"
            alt="Logo" class="img1">
        <img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-text.png?1514958036"
            alt="Title" class="img2">
    </div>

    <div class="clearfix"></div>
    <div class="item">
        <a href="/"></a>
        <a href="/" class="home">Home</a>
        <a href="#contact">Contact us
            <br> +970 (0) 8 263 4783</a>
    </div>

</div>