<div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:160px">
  <div class="logo">
    <a href="/" class="active">
      <img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-bug.png?1514958036"
        alt="Logo" class="img1">
      <img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-text.png?1514958036"
        alt="Title" class="img2">
    </a>
  </div>

  <div class="sidebarButton">
    <button class="tablink" onclick="openLink(event, 'Fade')">APROACH AND ENTRANCE</button>
    <button class="tablink" onclick="openLink(event, 'Left')">ENTRANCE</button>
    <button class="tablink" onclick="openLink(event, 'Right')">ACCESS TO SERVICES</button>
    <button class="tablink" onclick="openLink(event, 'Top')">TOILET ROOM</button>
    <button class="tablink" onclick="openLink(event, 'Bottom')">EMERGENCY, EVACUATION, ALARMS</button>
  </div>
</div>